<IfModule mod_rewrite.c>
	RewriteEngine On
	
	# Force HTTPS
	RewriteCond %{SERVER_PORT} 80 
	RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
	
	# Feeds rewrites
	RewriteRule ^feed/list$ listFeeds.php [L]
	RewriteRule ^feed/show$ showFeed.php [L]
	RewriteRule ^feed/add$ addFeed.php [L]
	RewriteRule ^feed/delete$ deleteFeed.php [L]
	
	# Articles rewrites
	RewriteRule ^article/unread$ showUnread.php [L]
	RewriteRule ^article/show$ showArticle.php [L]
	
	# Users rewrites
	RewriteRule ^user/signin$ signin.php [L]
	RewriteRule ^user/login$ login.php [L]
	RewriteRule ^user/logout$ logout.php [L]
	RewriteRule ^user/password$ changePassword.php [L]
</IfModule>

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
</IfModule>
