<IfModule mod_rewrite.c>
	RewriteEngine On
	
	# Force HTTPS
	RewriteCond %{SERVER_PORT} 80 
	RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
	
	# Feeds rewrites
	RewriteRule ^feed/add$ feedAdd.php [L]
	RewriteRule ^feed/delete$ feedDelete.php [L]
	RewriteRule ^feed/import$ feedImport.php [L]
	RewriteRule ^feed/list$ feedList.php [L]
	RewriteRule ^feed/show$ feedShow.php [L]
	
	# Articles rewrites
	RewriteRule ^article/unread$ articleUnread.php [L]
	
	# Users rewrites
	RewriteRule ^user/login$ userLogin.php [L]
</IfModule>

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
</IfModule>
